<ion-content>

  <ion-icon name="person-circle-outline" class="icon"></ion-icon>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        Nome: PorCem.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Versão: 0.0.1
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Desenvolvido por: Pedro Henrique.
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="contatos">
    <ion-row>
      <ion-col>
        Contatos
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="https://api.whatsapp.com/send?1=pt_BR&phone=5511983286427" fill="outline" expand="block" color="danger">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="mailto: pedroviski10@hotmail.com" fill="outline" expand="block" color="danger">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
