.icon {
    font-size: 7em;

    display: block;
    margin: 5% auto 2%;
}

.grid {
    display: block;
    text-align: center;
    font-size: small;
}

.contatos {
    display: block;
    text-align: center;
}